# Week 2 - Monday Lesson (variable assignment, loops, lists)

# Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)

num = 21
print(num)

x=2
y=5
print(x)
print(y)

6
21
2
5

##### Assigning float

In [6]:
num_float = 3.14
print(num_float)

my_float = 2.34242342342141414
print(my_float)

3.14
2.342423423421414

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 1
num2 = 7

result = num1 + num2

print(num1 + num2)

print(result)

num3 = 10
result += num3

print(result)

8
8
18

17
19

##### Subtraction

In [12]:
num4 = 10
num5 = 15


print(num5 - num4)

result = num4 - num5

print(result)

5
-5

##### Multiplication

In [13]:
num1 = 10
num2 = 4.7

product = num1 * num2

print(product)

47.0

47.0
94.0

20

##### Division

In [14]:
num1 = 45
num2 = 9

quotient = num1 / num2

print(quotient)

5.0

In [32]:
num1 = 45

num1 /= 3

print(num1)

15.0

##### Floor Division

In [18]:
num1 = 5
num2 = 2

floored = num1//num2

print(floored)

num3= 6
num4 = 4

print(num3//num4)

2
1

2.5

##### Modulo

In [22]:
num1 = 6
if num1 % 2 == 0:
    print("even")
else:
    print("odd")

even

In [23]:
num1 = 5
num2 = 2

remainder = num1 % num2
print(remainder)

1

10

##### Exponential

In [25]:
square = 5**2
print(square)

num3 = 6
num3 **= 2
print(num3)

25
36

27
19683

### String Input-Output

##### String Assignment

In [27]:
name = "Ryan"
print(name)

Ryan

##### print() <br>
<p>Don't forget about end=' '</p>

In [31]:
print("hello", name)

print("full name:", name, end=" Rhoades")

hello Ryan
full name: Ryan Rhoades

##### String Concatenation

In [34]:
first_name = "Luke"
last_name = "Skywalker"
full_name = first_name + " " + last_name
print(full_name)

full_name += " " + "Jedi Master"

print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

13

I have a dog, his name is Eyo

##### Type Conversion

In [38]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

name = "mega man"

string_num = "123"

print(string_num)
int_num = int(string_num)
print(int_num)

my_float = 4.7
print(type(my_float))
my_string_float = str(my_float)

print(type(my_string_float))

123
123
<class 'float'>
<class 'str'>

In [88]:
new_x = str(x)

new_y = str(y)

print(type(new_x))
print(type(new_y))

<class 'str'>
<class 'str'>

##### input()

In [43]:
name = input("what is your name?")
print("your name is ", name)
print(type(name))

num = input("Give me a number")
print(num)
print(type(num))

quest = input("What is your quest?")
print("Your quest is ", quest)

color = input("What is your favorite color?")
print("Your favorite color is ", color)

what is your name?ari
your name is  ari
<class 'str'>
Give me a number6
6
<class 'str'>
What is your quest?slaying dragons
Your quest is  slaying dragons
What is your favorite color?blue
Your favorite color is  blue

How old are you? 31
Your age is 31.0
32.0

##### format()

In [45]:
age = int(input("How old are you?"))
name = input("What is your name?")

result_string = "You are {} years old, {} and you are getting wiser...".format(age, name)
print(result_string)

another_result = f"{age} is a great time in life, great job, {name}"
print(another_result)

How old are you?22
What is your name?ari
You are 22 years old, ari and you are getting wiser...
22 is a great time in life, great job, ari

##### Old Way (python 2)

You are 31 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [47]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What make is your car?")
model = input("What model is your car?")

final_result = f"Your car is a {color} {year} {make} {model}"
print(final_result)

What color is your car?blue
What year is your car?2015
What make is your car?chevy
What model is your car?lumina
Your car is a blue 2015 chevy lumina

In [50]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What make is your car?")
model = input("What model is your car?")

print("Your car's year make and model is: " + color + ", " + year + ", " + make + ", and " + model + ".")

What color is your car?blue
What year is your car?2015
What make is your car?bmw
What model is your car?328i
Your car's year make and model is: blue, 2015, bmw, and 328i.

### If Statements

In [57]:
num1 = 67
num2 = 65

if num2 == num1:
    print('yay')
elif num1 > num2:
    print("num1 is larger")
elif num1 < num2:
    print("num2 is larger")
else:
    print("they are not equal")
    
shirt_color = "black"

if shirt_color == "blue":
    print("your shirt is blue")
elif shirt_color == "black":
    print("Your shirt is black")
else:
    print("you have no shirt!")

num1 is larger
Your shirt is black

##### 'is' keyword

In [61]:
num3 = 99

if num3 == 99:
    print("super duper")

#if num3 is 99:
#    print("neato")

num4 = num3

print(num4)
print(num3)

if num4 == num3:
    print("They're equal")
if num4 is num3:
    print("these are the same objects")

super duper
99
99
They're equal
these are the same objects

##### 'in' keyword

In [67]:
char_name = "Boba Fett"
if "b" in char_name:
    print("beautiful")
else:
    print("Oh darn, its not here")

    
if char_name.lower()[0] == "b":
    print('yup this too')

beautiful
yup this too

##### 'not in' keyword'

In [69]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if "a" not in sega_char2.lower():
    print("this is not sanoic")
else:
    print("This is sonics")

This is sonics

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [74]:
letter_p = input("Enter a word please!")

if "p" in letter_p:
    print("This text has a 'p' in it!")
elif "P" in letter_p:
    print("This text has an uppercase 'P' in here!")
else:
    print("This next does not have a 'p' in it.")

Enter a word please!revel
This next does not have a 'p' in it.

Enter you string: potatoes
Sting has p letter init

Give me a word: possum
Yep theres a (p) in that word!

Hey you, enter a string: Percy
Big P in here

## Using 'and'/'or' with If Statements

In [77]:
num1 = 15
num2 = 3
num3 = 10
num4 = 3

if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("One of the above statements is false")
    
if num1 > num4 or num3 == num4:
    print("At least one of these statements is true")
else:
    print("Its all false")

True and True
At least one of these statements is true

### Elif Statements

In [78]:
first_name = "bulbasaur"

if first_name == "John":
    print("Hello John")
elif first_name == "Cheetaj":
    print("Hello cheetaj")
elif first_name == "bulbasaur":
    print("bulbasaur i choose you")
else:
    print("Sorry i don't know you")

bulbasaur i choose you

### Else Statements

In [79]:
number = 112
if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is neither 15 or 20, it is {number}")

The number is neighter 15 or 20, it is 112

### String Manipulation

#### .lstrip()

In [85]:
name = "             Lando Calrissian "

print(name)
print(name.lstrip())

             Lando Calrissian
Lando Calrissian

#### .rstrip()

In [86]:
name = "Luke Skywalker              "

print(name)
print(name.rstrip())

Luke Skywalker
Luke Skywalker

#### .strip()

In [87]:
name = "    Ash Ketchum    "

print(name)
print(name.strip())

    Ash Ketchum
Ash Ketchum

In [89]:
name = "Gandalf"

name = name.replace('a', 'o', 1)

print(name)

Gondalf

In [91]:
name = ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,rod"

name = name.replace(',', "")

print(name)

rod

rod

#### .title()

In [92]:
name = "goofy goober"

title_name = name.title()

print(title_name)

Goofy Goober

#### .upper()

In [93]:
name = "cheetor"
print(name.upper())

CHEETOR

#### .lower()

In [94]:
name = "CHEETOR"
print(name.lower())

cheetor

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [96]:
first_name = input("What is your first name?")
last_name = input("What is your last name?")

final_name = first_name.strip() + " " + last_name.strip()
print("Your name is " + final_name.title())

What is your first name?        ryan
What is your last name? rhoades
Your name is Ryan Rhoades

In [98]:
name = input("What is your name?")

print(name.strip().title())

What is your name?     ryan rhoades
Ryan Rhoades

Enter your name:gertrude
your name is Gertrude

What is your namehot potato patty
hot potato patty
Their name is  Hot Potato Patty

### Built-In Functions

##### len()

In [102]:
#works for strings and lists
# return the length of a given variable as an integer

name = "max"

print(len(name))

length_of_name = len(name)
length_of_name += 2
print(length_of_name)

my_list = [1, 3, 5, 7]
print(len(my_list))

3
5
4

##### help()

In [218]:
# gives a tooltip on a python built-in function
help(len)
help(print)
help(max)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

##### isinstance()

In [106]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)

print(isinstance(4, int))

num = 7

if isinstance(num, int):
    print("This is an integer")
else:
    print("This is not an integer")
    
age = int(input("How old are you"))

if isinstance(age, int):
    print("This is the correct data type")
else:
    print("This is incorrect")

True
This is an integer
How old are you6
This is the correct data type

<class 'str'>
True

False

##### abs()

In [107]:
# | 5 |
# give us the distance to zero


print(abs(-5))

5

### Try and Except

In [119]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age = int(input("How old are you?"))
    print(f"Happy birthday, you were {age} and now you are {age + 1}")
except:
    print("a num not text")

How old are you?we
a num not text

In [243]:
age = int(input("How old are you? "))
print(f"Happy Birthday you were {age} and now you are {age + 1}")

How old are you? sdfg

ValueError: invalid literal for int() with base 10: 'sdfg'

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [ ]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"